{% extends 'base.html.twig' %}

{% block title %}Food To You - Votre site de repas de pap{% endblock %}
{% block css %}<link href="{{ asset('assets/css/charlotte.css') }}" rel="stylesheet">{% endblock %} 

{% block header %}
    <div id="thenavbar" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="{{ path('ads') }}">
                    <img class="navLogo" src="{{ asset('assets/img/logofood.jpg') }}" alt="">
                </a>
            </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="#hello" class="smoothscroll">Publier annonce</a></li>
                <li><a href="#green" class="smoothscroll">Panier</a></li>
                <li><a href="#portfolio" class="smoothscroll">Déconnexion</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
        </div>
    </div>
{% endblock %}


{% block homeMain %}

<div id="homeMain">
    <div class="container">
        <div class="row" id="" >
            <div class="col-lg-6" id="logoSubtitle">
                <img class="logofood" src="{{ asset('assets/img/logofood.jpg') }}" alt="">
                <h1>Votre site de restauration de <br>particuliers à particuliers</h1>
            </div>
            <div class="col-lg-6" id="form">
                <form id="formInside" action="" method="">
                    <div class="formExample">
                        <input class="form-control" type="text" name="adress" id="adress" placeholder="Entrez votre adresse" required>
                    </div>
                    <div class="formExampleMiddle">
                        <select class="form-control" name="meal" id="meal">
                            <option value="envy" disabled selected>De quoi avez vous envie ?</option>
                            <option value="pizza">Pizza</option>
                            <option value="japonese">Japonais</option>
                            <option value="burger">Burger</option>
                            <option value="pasta">Pâte</option>
                            <option value="worldMeal">Plats familiaux</option>
                        </select>
                    </div>
                    <div class="formExample">
                        <select class="form-control" name="meal" id="meal">
                            <option value="envy" disabled selected>Vos restrictions alimentaires </option>
                            <option value="vegan">Vegan</option>
                            <option value="vegetarien">Végétarien</option>
                            <option value="halal">Halal</option>
                            <option value="cacher">Cacher</option>
                        </select>
                   </div>
                   <div id="buttonForm"> 
                        <button type="button">Valider</button>
                   </div> 
                </form>   
            </div>             
        </div>
    </div>
</div>
{% endblock %}




