/******************
    Navbar modif
******************/
.navLogo{
    height: 10%;
    width: 30%;
}
#thenavbar{
    padding: 10px 10%;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #ffffff;
    background-color: #03989E;
}

/******************
    post annonce
******************/
.post{
    padding-top: 1%;
} 
.mealPicture{
    height: 80%;
    width: 50%;
}
