{% extends 'base.html.twig' %}

{% block title %}Hello AdsController!{% endblock %}





{% block section2 %}
    <div id="portfolio"></div>
    <div class="container">
    <div class="row centered mt grid">
      <h3>OUR LATEST WORK</h3>
      <div class="mt"></div>
      <div class="col-lg-4">
        <a href="#"><img src="img/01.jpg" alt=""></a>
      </div>
      <div class="col-lg-4">
        <a href="#"><img src="img/02.jpg" alt=""></a>
      </div>
      <div class="col-lg-4">
        <a href="#"><img src="img/03.jpg" alt=""></a>
      </div>
    </div>

    <div class="row centered mt grid">
      <div class="mt"></div>
      <div class="col-lg-4">
        <a href="#"><img src="img/04.jpg" alt=""></a>
      </div>
      <div class="col-lg-4">
        <a href="#"><img src="img/05.jpg" alt=""></a>
      </div>
      <div class="col-lg-4">
        <a href="#"><img src="img/06.jpg" alt=""></a>
      </div>
    </div>

    <div class="row mt centered">
      <div class="col-lg-7 col-lg-offset-1 mt">
        <p class="lead">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
      </div>

      <div class="col-lg-3 mt">
        <p><button type="button" class="btn btn-theme btn-lg">Email Me!</button></p>
      </div>
    </div>
  </div>


{% endblock %}

